.navbar
  padding 1rem
  display flex
  align-items center
  justify-content space-between
  &__title
    font-size 6rem
    color #fff
    text-shadow 0 0.5rem 1rem rgba(#000, 0.5)
  &__subtitle
    text-decoration none
    font-size 3rem
    color #fff
    text-shadow 0 0.5rem 1rem rgba(#000, 0.5)
  